.App {
  text-align: center;
}

.App-logo {
  height: 7vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;

  font-size: calc(10px + 2vmin);
  color: white;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  margin-top: 1%;
  background-color: #61dafb;
  border-radius: 40px;
}

.Game { 
  color: white;
  height: 100%;
}

.wrapper {
  min-height: 100%;
  position: relative;
  padding-bottom:90px; /* footer's height */
}

.App-footer {
width: 300px;
color: #fff;
text-decoration: underline;
text-decoration-color: #61dafb;
position: absolute;
bottom: 1%;
right: 1%;
}

.App-me {
  height: 10vmin;
  pointer-events: none;
  border-radius: 60px;
}


